@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

// The "V"
@mixin vw-v($flip: false) {
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: $line-width;
    background: #fff;
    box-shadow: 21px 0 23px -13px $shadow-color;

    @if $flip {
      bottom: 8px;
      top: ($inner-circle-size / 2) - $border-width + 10;
    } @else {
      top: 8px;
      bottom: ($inner-circle-size / 2) - $border-width + 10;
    }
  }

  &:before {
    right: 50%;
    margin-right: 20px;

    @if $flip {
      transform: rotate(24deg);
    } @else {
      transform: rotate(-24deg);
    }
  }

  &:after {
    left: 50%;
    margin-left: 20px;

    @if $flip {
      transform: rotate(-24deg);
    } @else {
      transform: rotate(24deg);
    }
  }
}

// Fill the gap in the "V"
@mixin vw-v-filler($flip: false) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  width: 57px;
  background: #fff;

  @if $flip {
    bottom: 164px;
  } @else {
    top: 164px;
  }
}
