body {
  background: #000;
}

#vw {
  @include circle($circle-size);
  background-color: $vw-blue;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -$circle-size / 2;

  @media (max-width: 576px) {
    & {
      transform: scale(0.4) !important;
    }
  }

  @media (max-width: 768px) {
    & {
      transform: scale(0.6);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    top: 140px;
    bottom: 145px;
    left: 133px;
    transform: rotate(-24deg);
    box-shadow: 6px 0 20px 5px $shadow-color;
  }

  &:after {
    top: 220px;
    bottom: 90px;
    right: 100px;
    transform: rotate(24deg);
    box-shadow: -6px 0 20px 5px $shadow-color;
  }

  .inner-circle {
    @include circle($inner-circle-size);
    display: inline-block;
    position: relative;
    z-index: 1;
    border: $border-width solid #fff;
    margin-top: $circle-padding / 2;
    margin-left: $circle-padding / 2;
    box-shadow: inset 6px 3px 20px 6px $shadow-color, 5px 0 15px $shadow-color;
    @include vw-v();

    .line {
      &:nth-child(1) {
        @include vw-v-filler();
      }

      &:nth-child(2) {
        @include vw-v(true);
      }

      &:nth-child(3) {
        @include vw-v-filler(true);
      }

      // Complete the "W"
      &:nth-child(4) {
        &:before,
        &:after {
          content: '';
          position: absolute;
          width: $line-width;
          background: #fff;
          top: 84px;
          bottom: 20px;
        }

        &:before {
          left: 36px;
          transform: rotate(-24deg);
        }

        &:after {
          right: 36px;
          transform: rotate(24deg);
        }
      }
    }
  }
}
